body {
    font-family: "Open Sans", sans-serif;
    padding:0;
    margin:0;
    background-color: black;
    color: white;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
    
}
h3{
    font-size: 3rem;
}

h2 {
    color: #3046C5;
}
p{
    font-size: 2rem;
}
header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 0;
    margin:0;
    background-image: linear-gradient(to right, white, #eff2f5, #f7f1f8);
    color: white;

   
}
.jumbotron img {
    border-radius: 150px;
    width: 100px;
    height: 100px;
}
.jumbotron h1{
    letter-spacing: 2rem;
    color: black;
     text-align: center;
     padding-top:8px;
     
     font-size: 49px;
     margin:0;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: black;
    font-size: 15px;
    letter-spacing: .5rem;

   
}
.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
 .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    
    
    nav > li {
        color: black;
    }
    .navbar-brand img {
        border-radius: 2rem;
       

    }